# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
spec.md
history.md
*.sh
logs/*.log
tests/temp_data/

# OS specific
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
